:root {
    --first-color: rgb(16, 37, 63);
    --second-color: rgb(52, 171, 202);
    --third-color: rgb(23, 55, 94);
    --fourth-color: rgb(38,38,38);
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

.bg-main-color {
    background: rgb(39, 135, 160);
    background: linear-gradient(180deg, rgba(39, 135, 160, 1) 0%, rgba(54, 177, 210, 1) 80%, rgba(52, 179, 214, 1) 100%);
}

.bg-middle-color {
    background: rgb(16, 37, 63);
    background: linear-gradient(180deg, rgba(16, 37, 63, 1) 0%, rgba(16, 37, 63, 1) 50%, rgba(23, 55, 94, 1) 100%);
}

.bg-first-color {
    background-color: var(--first-color);
}

.bg-second-color {
    color: var(--second-color);
}

.bg-third-color {
    background-color: var(--third-color);
}

.bg-last-color {
    background: rgb(23, 55, 94);
    background: linear-gradient(180deg, rgba(23, 55, 94, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(38, 38, 38, 1) 100%);
}
.bg-fourth-color {
    background-color:var(--fourth-color);
}

.bg-image {
    background-image: url("../images/bg-image-home.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.hamburguer-menu {
    display: block;
    width: 30px;
    height: 4px;
    background-color: whitesmoke;
    margin: 4px 0;
}